@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  @apply fixed bg-gradient-to-r from-rose-100 to-teal-100 h-full w-full;
}

.search-input {
  @apply w-full py-2 pl-4 text-lg rounded-md pr-10 focus:outline-none bg-white focus:text-gray-900;
}

.current-weather-container {
  @apply flex flex-col-reverse lg:flex-row lg:justify-between px-6 py-8 bg-white rounded-lg shadow-md w-full mx-auto;

  .weather-details {
    @apply flex flex-col lg:flex-row lg:items-center;

    .main-details {
      @apply mb-10 lg:order-1 lg:mb-0 w-full lg:w-fit text-center lg:text-left;
    }

    .other-details {
      @apply order-1 lg:order-2 lg:mx-7 justify-center;
    }

    .details {
      @apply lg:mx-5 lg:order-3 justify-center;

      .main {
        @apply font-semibold text-3xl mb-2 w-full lg:w-fit text-center lg:text-left;
      }
      
      .city {
        @apply text-xl w-full text-center lg:text-left mb-10 lg:mb-0;
      }
    }
  }
}

.main-temp {
  @apply text-6xl font-semibold;
}

.title {
  @apply text-4xl font-bold text-center m-12;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.fade-enter-active {
  animation: fade-in 0.5s;
}

.fade-leave-active {
  animation: fade-in 0.5s reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

input:checked + label {
	border-color: black;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}